body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #f5f5f5; */
}

.logo-container {
  width: 120px; 
}

.logo {
  width: 100%; 
}

.navbar {
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #bf2026;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #555;
}

/* Footer */

footer {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding: 3rem 0;
}

.contact-section {
  background-color: #2c3e50;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 2rem
}

.contact-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.contact-links a {
  display: inline-block;
  margin-right: 3rem;
  color: white;
  text-decoration: none;
}

.contact-links a:hover {
  text-decoration: underline;
}

.footer-container p {
  color: white;
  margin: 0;
}

.copyright {
  background-color: black;
  padding: 1rem;
  font-size: 12px;

}
.contact-section h2 {
  padding-bottom: 3rem;
  font-size: 35px;
}

